<div>
    <div class=" d-flex justify-content-center">
      <div class="col-sm-8">
          <div class=" d-flex justify-content-center">
            <img src="../../assets/icons/edusearch_raw_logo.png" alt="edu search" />
          </div>
          <p>This is a search engine program made by group 3 of course CSCC01 in summer-2018, University of Toronto Scarborough</p>
      </div>
    </div>
</div>
<div class="row">
    
  <div class="col-sm-3">
    <div class=" d-flex justify-content-center">
      <p>Yuzhe Huang</p>
    </div>

  </div>
      
  <div class="col-sm-3 developer">
    <div class=" d-flex justify-content-center">
      <p>Shuang Wu</p>
    </div>
  </div>
  
  <div class="col-sm-3 developer">
    <div class=" d-flex justify-content-center">
      <p>Prantar Bhowmik</p>
    </div>
  </div>
  
  <div class="col-sm-3 developer">
    <div class=" d-flex justify-content-center">
      <p>Kareem Hage-ali</p>
    </div>
  </div>
</div>
