.title {
    margin: 1%
}

.option {
    background-color: aliceblue;
    margin-top: 1%;
    margin-bottom: 1%
}

.upload_button {
    margin-top: 1%;
    margin-bottom: 1%
}

.warning-message {
    color: red;
}